@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s ease-in;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.logo {
  width: 200px;
  height: 100px;
  left: 0;
  padding: 0;
}

.product_price {
  font-size: 1.4em;
  font-weight: bold;
}

.star {
  color: gold;
}

.sidebar1 {
  /* background: #378666;
  background: linear-gradient(#378666, #28634b, #052d1d); */
  padding: 0px;
  min-height: 100%;
}
.list-group {
  color: #940833;
  list-style: none;
  padding-left: 0px;
}
.list-group::first-line {
  color: rgba(255, 255, 255, 0.5);
}
.list-group > li,
.list-group > h5 {
  padding: 5px 0px 5px 25px;
}
.list-group > li:hover,
.list-group > li.active,
.sidebar-list-item.active {
  background-color: rgb(255, 255, 255);
  border-left: 5px solid #940833;
  color: #940833;
  font-weight: bolder;
  padding-left: 20px;
  z-index: 1;
}

.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 1.5em;
  background-color: rgb(255, 255, 255);
}

.form-input-error {
  color: #aa1925;
}
/* 
#cover {
  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
} */

#cover-caption {
  width: 100%;
  position: relative;
  z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.3); */
  z-index: -1;
  border-radius: 10px;
}

.avatar {
  background-color: #940833 !important;
  color: white !important;
  width: 2.65em;
  height: 2.65em;
  text-align: center;
  font-size: 1.05em;
  transition: all 0.1s ease-in;
}
.avatar:hover,
.cart-icon:hover {
  transition: all 0.2s ease-in;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.nav-item {
  text-align: center;
}

/* .theme-color {
  color: #940833 !important;
} */

a.profile-card,
a.profile-card:hover {
  color: inherit;
  text-decoration: inherit;
}
.add-addresscard {
  border: 2px dashed !important;
  border-color: pink !important;
  text-align: center !important;
  display: block !important;
  color: pink !important;

  text-decoration: inherit !important;
}

.fa-plus {
  color: pink !important;
  text-decoration: none !important;
  margin-top: 1.15em !important;
  margin-bottom: 1.15em !important;
}

.cart-icon {
  font-size: 0.95em;
  margin-top: 1em !important;
  color: #e9dde2 !important;
  text-decoration: none !important;
}

.cart-item-count-badge {
  position: relative;
  bottom: 2em;
  left: 0.8em;
}
.btn {
  margin-top: 2em;
}

#tooltip-cart > .tooltip-inner,
#tooltip-profile > .tooltip-inner {
  background-color: #fff;
  color: #000;
  border: 1px solid pink;
}

#tooltip-cart > .tooltip-arrow,
#tooltip-profile > .tooltip-arrow {
  border-top: 5px solid pink;
  color: pink;
}

.no-margin-top {
  margin-top: 0;
}

.EmptyState {
  margin: 250px 0;
}
@media screen and (min-width: 641px) {
  .EmptyState {
    margin: 200px 0;
  }
}

@media screen and (min-width: 1240px) {
  .EmptyState {
    margin: 250px 250px;
  }
}

.container-fluid {
  height: 100vh !important;
}

.fullheight {
  height: 100vh !important;
}
.fullwidth {
  width: 100% !important;
}
.item-cardfooter {
  margin-bottom: 0.8em;
}

.mask {
  /* mask-image: linear-gradient(to top, transparent 0.2%, black 80%); */
  color: rgba(0, 0, 0, 0.7);
  filter: grayscale(20%);
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.2em;
  font-family: "Julius Sans One", sans-serif;
  text-shadow: 0.5em 0.5em 1em grey;
}
